/* Inter-Regular */
@font-face {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url('css/fonts/Inter_24pt-Regular.ttf') format('truetype');
  }
  
  /* Inter-Medium */
  @font-face {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    src: url('css/fonts/Inter_24pt-Medium.ttf') format('truetype');
  }
  
  /* Roboto-Bold */
  @font-face {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: normal;
    src: url('css/fonts/Inter_24pt-SemiBold.ttf') format('truetype');
  }