:root {
    --main: #101828;
    --text: #475467;
    --gray: #6C717B;
    --button: #E44848;
    --button-hover: #D84343;
    --rating: #FFC531;
    --gray-light: #DADDE1;
    --badges: #F2F4F7;
    --inputs: #F7F7F7;
    --white: #FFFFFF;
}