.container {
    display: flex;
    flex-direction: column;
}

.fRow {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: var(--main)
}

.wrap {
    display: flex;
    gap: 16px;
    margin-top: 8px;
}

.rating {
    line-height: 1.50;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--main);
}

.location {
    line-height: 1.50;
    color: var(--main);
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: var(--main);
    margin-top: 16px;
}

.image {
    margin-top: 28px;
    max-width: 1312px;
    max-height: 312px;
    display: flex;
    gap: 96px;
}

.image img {
    object-fit: cover;
    border-radius: 10px;
    min-width: 375px;
    height: 312px;
    overflow: hidden;
}

.description {
    margin-top: 28px;
    margin-bottom: 60px;
    line-height: 1.50;
    color: var(--text);
}

.link {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.20;
    color: var(--main);
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    margin-right: 40px;
    cursor: pointer;
    position: relative;

}

.link::after {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
}

.link.active::after {
    background-color: var(--button);
}

.line {
    width: 1312px;
    height: 1px;
    border: 1px solid var(--gray-light);
    margin-top: 24px;
    margin-bottom: 24px;
}

.wraper {
    display: flex;
    gap: 40px;
}