.container {
    display: flex;
    flex-direction: column;
    min-height: 696px;
    padding-top: 260px;
    position: relative;
    z-index: 1;
    background: transparent;
}

.container::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -64px;
    right: -64px;
    background-image: url('/img/homepage-bg-1x-min.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (min-resolution: 2dppx) {
    .container::before {
        background-image: url('/img/homepage-bg-2x-min.png');
    }
}

.title {
    color: #f7f7f7;
    font-weight: 600;
    font-size: 48px;
    line-height: 0.67;
}

.subtitle {
    color: #f7f7f7;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    margin-top: 18px;
    margin-bottom: 40px;
}

.btn {
    border-radius: 200px;
    padding: 16px 48px;
    width: 173px;
    height: 56px;
    background: #E44848;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #ffffff;
}

.btn:hover {
    background-color: #D84343;
}